body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
.header {
    background-color: #FFA500;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .title {
    font-size: 24px;
}
.header .nav {
    font-size: 18px;
}
.nav a {
    color: white;
    text-decoration: none;
    margin-left: 15px;
}
.container {
    width: 100%;
    max-width: 500px;
    margin: 50px auto;
    background: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.tabs {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}
.tabs div {
    width: 50%;
    text-align: center;
    padding: 10px 0;
    border: 1px solid #000;
    cursor: pointer;
}
.tabs .active {
    background-color: #87CEFA;
}
.form-group {
    margin-bottom: 15px;
}
.form-group label {
    display: block;
    margin-bottom: 5px;
}
.form-group input[type="text"],
.form-group input[type="password"],
.form-group input[type="email"],
.form-group input[type="number"]{

    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}
input{
    margin: 0;
}
.form-group .radio-group {
    display: flex;
    align-items: center;
}
.form-group .radio-group label {
    margin-right: 15px;
}
.form-group .radio-group input {
    margin-right: 5px;
}
.btn {
    background-color: green;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}
.btn:hover {
    background-color: darkgreen;
}
.tab:hover{
    background-color: blue;
}